.idea
Threads_TutPart2_ConsoleApp/bin
Threads_TutPart2_ConsoleApp/obj
ParameterizedThread_ClassParam/bin
ParameterizedThread_ClassParam/obj
ThreadSync_lock/bin
ThreadSync_lock/obj
ThreadSynq_Monitor_BlockingQueue/bin
ThreadSynq_Monitor_BlockingQueue/obj
